In [25]:
import pandas as pd

In [30]:
csv_path = "nyc_calendar.csv"
nyc_df = pd.read_csv(csv_path)
nyc_df.head()

   listing_id     date available  price  year    month
0        8110  10/2/18         t    105  2018  October
1       14468  10/2/18         t     99  2018  October
2       16076  10/2/18         t     94  2018  October
3       19159  10/2/18         t    140  2018  October
4       19169  10/2/18         t    285  2018  October

In [40]:
grouped = nyc_df.groupby(["month"])
grouped_month = grouped["price"].mean()
grouped_month

month
April        164.102095
August       165.061762
December     166.199800
February     155.381912
January      156.692847
July         165.319378
June         164.451798
March        158.867220
May          163.838634
November     165.974762
October      162.101618
September    164.626408
Name: price, dtype: float64